<mat-toolbar color="primary">
  <span>Register</span>
</mat-toolbar>
<mat-card>
<form  [formGroup]="registerForm" (ngSubmit)="auth.register(registerForm.value)">
  <table >
    <tr>
      <td>
        <mat-form-field>
          <input formControlName="name" matInput placeholder="First Name">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <input formControlName="Password"  matInput placeholder="Password" type="password">
        </mat-form-field>
      </td>
    </tr>
    <button mat-raised-button color="primary" type="submit">Register</button>
  </table>
</form>
</mat-card>

