<div class="app header-fixed">

  <app-header></app-header>
  <router-outlet></router-outlet>
  
  <h1>
    {{title}}
  </h1>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium obcaecati, deleniti culpa quae laborum illo reprehenderit omnis delectus harum fuga accusamus, mollitia earum ullam inventore distinctio fugit neque pariatur error!</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium obcaecati, deleniti culpa quae laborum illo reprehenderit omnis delectus harum fuga accusamus, mollitia earum ullam inventore distinctio fugit neque pariatur error!</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium obcaecati, deleniti culpa quae laborum illo reprehenderit omnis delectus harum fuga accusamus, mollitia earum ullam inventore distinctio fugit neque pariatur error!</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium obcaecati, deleniti culpa quae laborum illo reprehenderit omnis delectus harum fuga accusamus, mollitia earum ullam inventore distinctio fugit neque pariatur error!</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium obcaecati, deleniti culpa quae laborum illo reprehenderit omnis delectus harum fuga accusamus, mollitia earum ullam inventore distinctio fugit neque pariatur error!</div>
</div>