<!-- Top container -->
<section class="top-container">
  <header class="showcase">
    <h1>Your web Presence</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, similique nobis, quibusdam eligendi sed distinctio nam aliquam, beatae alias quam numquam eveniet a tempora culpa fuga cum officiis non voluptatum commodi. Ea esse eius aut, corporis libero expedita temporibus quod ullam dignissimos ipsa praesentium doloremque neque molestias sunt harum quo.</p>
    <a href="#" class="btn">Read More</a>
  </header>
  <div class="top-box top-box-a">
    <h4>Membership</h4>
    <p class="price">$199/mo</p>
    <a href="#" class="btn">Buy Now</a>
  </div>
  <div class="top-box top-box-b">
    <h4>Pro Membership</h4>
    <p class="price">$299/mo</p>
    <a href="#" class="btn">Buy Now</a>
  </div>
</section>