<h4 class="text-center">Inverter List</h4>
<br>
{{inverterList}}
<table class="table table-sm table-hover">
  <tr *ngIf="inverterList.length == 0">
    <td class="text-center" colspan="3">No Data.</td>
  </tr>
  <tr *ngFor="let inverter of inverterList">
    <td>{{ inverter.inverterManufacturer }}</td>
    <td>{{ inverter.inverterType }}</td>
    <td>
      <a class="btn"(click)="onEdit(inverter)">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="btn" (click)="onDelete(inverter.$key)">
        <i class="fa fa-trash"></i>
      </a>
    </td>
  </tr>
</table>
{{inverterList}}
<div>Inverter list works</div>