<div class="container">
      <div class="text-center">
        <h2 class="jumbotron">Employee Register</h2>
        <div class="row">
          <div class="col-md-7">
            <router-outlet></router-outlet>
          </div>
          <div class="col-md-5">
            <!-- Display list is implemented on ngInit -->
              <!-- <a [routerLink]="[{ outlets: { popup: ['list'] } }]">Display List</a> -->
              <router-outlet name="popup" (activate)='onActivate($event)'
              (deactivate)='onDeactivate($event)'></router-outlet>
          </div>
        </div>
      </div> 
  <!-- <router-outlet></router-outlet>
  <router-outlet
  name="popup"
(activate)='onActivate($event)'
(deactivate)='onDeactivate($event)'></router-outlet> -->
</div>
