.app-header{
    flex: 0 0 $navbar-height;
}
.app-header.navbar {
    position: relative;
    flex-direction: row;
    height: $navbar-height;
    padding: 0;
    margin: 0;
    background-color: $navbar-bg;
    @include borders($navbar-border);
}